<h1>Parent</h1>
<app-child-component
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)" ></app-child-component>

<div >
  <app-child-two-component
    *ngFor=" let element of testElement"
    [alias-quellochevoglio]="element"

  >
    <p>
      <strong
        *ngIf="element.type === 'server'"
        style="color: red">{{ element.content }}
      </strong>
      <em *ngIf="element.type === 'blueprint'"
          style="color: blue">{{ element.content }}
      </em>
    </p>
  </app-child-two-component>
  <!-- A sinistra abbiamo [element] che rappresenta il nome della proprietà nel componente
        Mentre A destra troviamo item, che è il nome dell'iterazione.
       Posso anche assegnare, quello che si chiama Alias, alla mia direttiva, direttamente
       all'interno delle parentesi dell'input del mio componente figlio
  -->
</div>
